.row {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.named-textarea {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
